.mx-auto {
  margin: 50px 0px;
  font-family: "Roboto", sans-serif;
  border: 0px ridge;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  color: #19456b;
}

h1 {
  padding: 40px 0px 0px 0px;
  text-shadow: 1px 1px 2px #19456b;
}

.main {
  font-size: 50px;
  color: #19456b;
}

.temperature {
  font-size: 60px;
  font-weight: 600;
  padding: 0px 0px 0px 40px;
}

.units {
  font-size: small;
  position: relative;
  top: -50px;
}

ul {
  list-style: none;
  font-size: 16px;
}

.col {
  border: 1px solid;
}

.data {
  font-size: 14px;
}

.second {
  position: relative;
  top: 1px;
  display: block;
  margin: 0 auto;
}

.third {
  position: relative;
  top: 1px;
  display: block;
  margin: 0 auto;
}

.forecast {
  font-size: 10px;
  text-align: left;
  border: 1px solid;
  border-style: ridge;
  height: 150px;
  width: 120px;
  border-radius: 5%;
  display: flex;

  align-items: center;
  position: relative;
  box-shadow: 4px 10px 4px #19456b;
}

.day {
  font-size: 12px;
}

.cloud,
.main,
.rain {
  color: #51adcf;
  font-size: 50px;
}

.snow {
  color: #a7c5eb;
  font-size: 50px;
}

.sun {
  color: #fed049;
  font-size: 50px;
}

.temp {
  font-size: 20px;
}

small {
  padding: 40px 0px;
  font-size: 8px;
}
