.page {
  background-image: url("sunset.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mx-auto {
  margin: 50px 0px;
  font-family: "Roboto", sans-serif;
  border: 0px ridge;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #0c0c0f;
  color: white;
  opacity: 0.9;
}

.search {
  width: 165px;
}

.current {
  width: 165px;
  border-color: #5bc2c2;
}

h1 {
  padding: 40px 0px 0px 0px;
}

h6 {
  padding: 0px 0px 40px 0px;
}

.current-date {
  font-size: 20px;
  color: #5bc2c2;
}

.weather-temperature {
  margin: 0px 0px 20px 0px;
  padding: 20px 0px 20px 0px;
}

.icon {
  margin-right: 5px;
  height: 100px;
  width: 100px;
}

.temperature {
  font-size: 50px;
  font-weight: 600;
  margin: 0 auto;
  position: relative;
  top: 10px;
}

.units {
  font-size: small;
  position: relative;
  top: -20px;
}

ul {
  list-style: none;
  font-size: 16px;
}

.col {
  border: 1px solid;
}

.data {
  font-size: 14px;
  text-align: left;
  padding: 30px 0px 42px 0px;
}

.second {
  position: relative;
  top: 1px;
  display: block;
  margin: 0 auto;
}

.third {
  position: relative;
  top: 1px;
  display: block;
  margin: 0 auto;
}

.weather-forecast {
  font-size: 14px;
  text-align: center;
  margin: 30px auto;
  padding: 20px 0px 20px 0px;
}

.forecast-temperature-min {
  color: lightgray;
}

p {
  padding: 10px 0px;
  font-size: 12px;
}

.link {
  color: #5bc2c2;
}

.link:hover {
  color: white;
}
